<div>
  <div class='calendar'>
    <% @week_days.each do |day| %>
      <div class='item'>
        <div class='date'>
          <% day[:month] %>/<% day[:date] %>
        </div>
        <ul class='content'>
        <% if day[:plans].length != 0 %>
          <% day[:plans].each do |plan| %>
          <% end %>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>